.m3{
background-color:red;
height:150px;
width:233px;
}
.m4{
height:12px;
width:110px;
}
.m2{
height:30px;
width:232px;
background-color:blue;
color:white;
}
.m1{
height:50px;
width:55px;
background-color:blue;
color:white;
}